body{

}
#wrapper{
    max-width:1200px;
   margin: auto;
    background-color: #F6F3F0;
    font-family:arial;
    padding: 5px;
    border: 1px solid black;
           
    
 
    
}
#header{
    height:7em;
   // background-color: #62a1d7;
    //background-color:#569b7e;
    display:flex;
    justify-content: center;
    //background-image: url(../img/images1.jpg);
    background-color:#f0582f;
    border-radius: 10px;
    
    
   
}
#header img{
    margin-top: 10px;
}

#header h2{
     font-size: 2.9em;
   
    font-family:arial;
    padding:5px;
     color: white;
   
    flex-direction: row;
    //text-align: center;
    margin-top: 15px;
    font-style: oblique;
    
   
}

#nav{
   
    font-size:1.2em;
    //background-color:#f0582f;
    height: 45px;
    display: flex;
  
    position: relative;
         z-index: 1000;
     background-image: url(../img/images1.jpg);
        border-radius: 10px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -20px;
   }
ul{
   //display: flex;
    justify-content:space-between;
    margin-left: -20px;
    margin-top: 10px;
    
   

  }
ul li{
      display: inline-block;  
    
    margin-top: -30px;
    margin-left: 5px;
    padding: 15px;
   
   
    
}
ul li a{
    
    text-decoration: none;
    color:red;
    
   
    
    
}
#nav a:hover{
    //text-decoration: underline;
    //border-bottom: 0.20em solid;
    //background-color: blue;
    
    
    
}
#nav a.currentpage{
    color:#4f5565;
    border-bottom: 0.20em solid;
    //background-color: green;
}
.search{
  //  display: flex;
    float: right;
   // width: 24%;
    margin-right: 40px;
    margin-top: -38px; 
    position: relative;
         z-index: 1000;
}
.searchbutton{
    width:150px;
    padding: 8px;
    
	border-radius:5px;
    //margin-left: 40px;
    border: none;   
    
 }
button[type=submit]{
    height: 30px;
    width: 40px;
    border-radius:5px;
    background: white;
    border: none;
    
}
#socialmedia{
   
    font-size:1.2em;
    //background-color:#f0582f;
    height: 50px;
    
    display: flex;
        background-image: url(../img/images1.jpg);
        border-radius: 10px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -15px;
    justify-content: center;
    
   }
#socialmedia img{
    padding: 10px;
    
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    
}
footer {
    display: flex;
    flex-shrink: 0;
     height:50px;
    clear: both;
    //margin-top: 5px;
    //text-align: center;
    color: white;
    //background-color:#569b7e;
    padding: 5px; 
    justify-content: center;
    flex-wrap: wrap;
    //background-image: url(../img/images1.jpg);
    background-color:#f0582f;
    border-radius: 10px;
}

#fo p{
   // text-align: center;
    color: white;
    margin-top: 20px;
    padding: 5px;
    //margin-left: 50px;

}
.toggle{
    color: blueviolet;
    font-size: 30px;
    display:block;
    padding:5px;
    margin-left: 15px;

    
}
#mediaimage{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
     flex-flow: wrap;
    
}
#heading h2{
   //margin: auto;
    //margin-top: 10px;
    width: 500px;
    //justify-content: center;
    margin-left: 400px;
    display: flex;
    flex-direction:row;
    color: brown;
    
}

#mimage img{
    //margin: auto;
    margin-top: 70px;
    margin-left: -800px;
}
#paragraph{
    display: flex;
    flex-direction: row;
    
    
}
#paragraph1 h3{
    flex-direction: column;
    padding: 10px;
    color: brown;
   display: flex;
}
#paragraph1 p{
   flex-direction: column;
    text-align: justify;
    width: 580px;
    padding: 10px;
    margin-top: -20px;
   //display: flex;
   //justify-content:space-between;
   
}

#paragraph2 p{
   flex-direction: column;
    text-align: justify;
    width: 580px;
    padding: 10px;
    margin-top:58px;
    
   // display: flex;
   //justify-content: space-between;
}

#images{
    flex-direction: row;
    display: flex;
    flex-flow: wrap;
}

#educationimage{
    padding: 10px;
    margin-bottom: 15px;
    color: brown;
}
#healthcareimage{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 100px;
    color: brown;
}
#links{
    margin-bottom: 30px;
}
@media only screen and  (min-width: 480px){
    
    #wrapper{
    width:400px;

    }
    
    
    #header{
        display: flex;
        height: 85px;
    }
    #header h2{
        font-size: 30px
    }
    #header img{
        width: 60px;
        height: 55px;
    }
    .toggle{
        display: block;
    }
    .active{
        display:block;
    }
    
    #nav{
        display: flex;
        background-image: url(../img/images1.jpg);
        width:100%;
        
       
        
       
    }
     #nav ul{
        //margin-left: -5px;
        //height:180px;
        //line-height: 2px;
         flex-direction: column;
         align-items: flex-start;
         margin-top: 45px;
         margin-left: -46px;
        
         
    }
    ul{
        
        clear: both;
        width:100%;
         display: none;
    }
    #nav ul li{
        display: block;
        margin-left: -40px;
      margin-top: 2px;
        //background-color: black;
        background-image: url(../img/images1.jpg);
        
            
    }
    #nav ul li a{
        color: white;
        font-size: 17px;
        margin-left: 10px;
    
          
    }
    #nav a:hover{
        background-color: red;
        
        
    }
    #nav a.currentpage{
        color:white;
    }
    .search{
        display: flex;
        flex-flow: wrap;
        margin-left: 130px;
        margin-top: -30px;
    }
     .searchbutton{
    width:160px;
    padding: 10px;
    
	border-radius:5px;
    margin-left: -50px;
    border: none;
         display: none;
    
 }
    button[type=submit]{
    height: 30px;
    width: 15%;
   margin-left: 180px;
        margin-top: -40px;
        
    
}
    #socialmedia{
   
    font-size:1.2em;
    //background-color:#f0582f;
    height: 50px;
    
    display: flex;
        background-image: url(../img/images1.jpg);
        border-radius: 10px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -15px;
    justify-content: center;
    
   }
#socialmedia img{
    padding: 10px;
    
    flex-flow: wrap;
    display: flex;
    flex-direction: row;
    
}
footer {
    display: flex;
    flex-shrink: 0;
     height:50px;
    clear: both;
    //margin-top: 5px;
    //text-align: center;
    color: white;
    //background-color:#569b7e;
    padding: 5px; 
    justify-content: center;
    flex-wrap: wrap;
    //background-image: url(../img/images1.jpg);
    background-color:#f0582f;
    border-radius: 10px;
}

#fo p{
   // text-align: center;
    color: white;
    margin-top: 20px;
    padding: 5px;
    //margin-left: 50px;

}
.toggle{
    color: blueviolet;
    font-size: 30px;
    display:block;
    padding:5px;
    margin-left: 15px;

    
}
#mediaimage{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
     flex-flow: wrap;
    
}
#heading h2{
   
    width: 500px;
    //justify-content: flex-start;
    margin: auto;
    
   
    
}

#mimage img{
    //margin: auto;
    margin-top: 10px;
    margin-left: 0px;
    width:400px;
    height: 300px;
}
#paragraph{
    display: flex;
    flex-direction: column;
  
    
    
}
#paragraph1 h3{
    
    padding: 10px;
    color: brown;
   
}
#paragraph1 p{
     text-align: justify;
    width: 380px
   
}

#paragraph2 p{
  
    text-align: justify;
    width: 380px;
    padding: 10px;
    margin-top:-20px;
    
   
}

#images{
    flex-direction: column;
    display: flex;
    flex-flow: wrap;
}

#educationimage{
    
    margin-bottom: 15px;
    color: brown;
    margin-top: -40px;
     
}
#educationimage h4{
    margin-left: -10px;
}
#educationimage img{
    
    margin-bottom: 15px;
   margin-left: -10px;
     width:400px;
    height: 300px;
}
#healthcareimage{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 100px;
    color: brown;
}
  #healthcareimage h4{
    margin-top: -40px;
      margin-left: -110px;
}
    #healthcareimage img{
    width:400px;
    height: 300px;
        margin-bottom: -10px;
   margin-left: -110px;
        margin-top: -15px;
} 
    #socialmedia{
        width:100%;
    }
    
#links{
    margin-bottom: 30px;
    padding: 10px;
}
}

@media only screen and (min-width: 768px){
        
    #wrapper{
    width:700px;

    
}
    
     #header{
        display: flex;
    }
    #header h1{
        font-size: 44px
    }
    #header img{
        width: 50px;
        height: 45px;
    }
    .toggle{
        display: block;
    }
    .active{
        display:block;
    }
    
    #nav{
        display: flex;
        position: relative;
         z-index: 1000;
    }
     #nav ul{
        //margin-left: -5px;
        //height:180px;
        //line-height: 2px;
         flex-direction: column;
         align-items: flex-start;
         margin-top: 40px;
         margin-left: -46px;
        
       
    }
    ul{
        clear:both;
                //width:100%;
         display: none;
        
        
     
    }
    #nav ul li{
        display: block;
        margin-left: -40px;
      margin-top: 2px;
        //background-color: black;
        background-image: url(../img/images1.jpg);
        
            
    }
    #nav ul li a{
        color: white;
        font-size: 17px;
        margin-left: 10px;
    
          
    }
    #nav a:hover{
        //background-color: red;
        
        
    }
    #nav a.currentpage{
        color:white;
    }
      .search{
        display: flex;
        flex-flow: wrap;
        margin-left: -130px;
        margin-top: -30px;
    }
      .searchbutton{
    width:160px;
    padding: 10px;
    border-radius:5px;
    margin-left: -50px;
          margin-top: -11px;
    border: none;
    display: block;
    
 }
     button[type=submit]{
    height: 30px;
    width: 15%;
   margin-left: 180px;
        margin-top: -40px;
        display: none;
    
}

input[type=text1]{
    width:100px;
    margin-top: -10px;
    
}
    #mediaimage{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
     flex-flow: wrap;
    
}
#heading h2{
   
    //width: 500px;
    //justify-content: flex-start;
    margin-left: 150px;
    
   
    
}

#mimage img{
    //margin: auto;
    margin-top: 10px;
    margin-left: 0px;
    width:680px;
    height: 400px;
}
#paragraph{
    display: flex;
    flex-direction: column;
  
    
    
}
#paragraph1 h3{
    
    padding: 10px;
    color: brown;
    font-size: 24px;
   
}
#paragraph1 p{
     text-align: justify;
    width: 680px
   
}

#paragraph2 p{
  
    text-align: justify;
    width: 680px;
    padding: 10px;
    margin-top:-20px;
    
   
}

#images{
    flex-direction: column;
    display: flex;
    flex-flow: wrap;
}

#educationimage{
    
    margin-bottom: 15px;
    color: brown;
    margin-top: -40px;
     
}
#educationimage h4{
    margin-left: -10px;
    font-size: 24px;
}
#educationimage img{
    
    margin-bottom: 15px;
   margin-left: -10px;
     width:680px;
    height: 450px;
    margin-top: -20px;
    
}
#healthcareimage{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 100px;
    color: brown;
}
  #healthcareimage h4{
    margin-top: -40px;
      margin-left: -110px;
      font-size: 24px;
}
    #healthcareimage img{
   width:680px;
    height: 450px;
        margin-bottom: -10px;
   margin-left: -110px;
        margin-top: -15px;
} 
    #socialmedia{
        width:100%;
    }
    #links{
    margin-bottom: 30px;
        padding: 10px;
}
}



@media only screen and (min-width: 1250px){
   
    #wrapper {
        
        width: 1200px;
    }
     #header{
        display: flex;
    }
    #header h1{
        font-size: 46px;
        height: 90px;
    }
    #header img{
        width: 55px;
        height: 50px;
    }
    .toggle{
        display: block;
        padding: 10px;
    }
    .active{
        display:block;
    }
    
    #nav{
        display: flex;
        position: relative;
         z-index: 1000;
        height: 2.7em;
        
    }
     #nav ul{
        //margin-left: -5px;
        //height:180px;
        //line-height: 2px;
         //flex-direction: row;
         //align-items: flex-start;
         margin-top: -5px;
         margin-left: -20px;
         
        
       
    }
    ul{
        clear:both;
                //width:100%;
         display: block;
        
        
        
     
    }
    #nav ul li{
        display: inline-block;
        margin-left: -1px;
        margin-top: 6px;
        background-color:red;
        height: 12px;
        
            
    }
    #nav ul li a{
        color: white;
        font-size: 22px;
        margin-left: -6px;
        //padding: 14px;
    
          
    }
    #nav a:hover{
        background-color: red;
        
        
    }
    #nav a.currentpage{
        color:white;
    }
      .search{
        display: flex;
        flex-flow: wrap;
        margin-left: -130px;
        margin-top: -30px;
    }
     
    .searchbutton{
    width:170px;
    padding: 8px;
    border-radius:5px;
    margin-left: -10px;
    border: none;
    display: block;
    
 }
      button[type=submit]{
    height: 30px;
    width: 40px;
   margin-left: 180px;
        margin-top: -30px;
        display:block;
    
}
    #mediaimage{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
     flex-flow: wrap;
    
}
#heading h2{
   //margin: auto;
    //margin-top: 10px;
    width: 500px;
    //justify-content: center;
    margin-left: 400px;
    display: flex;
    flex-direction:row;
    color: brown;
    font-size: 26px;
}

#mimage img{
    //margin: auto;
    margin-top: 70px;
    margin-left: -800px;
    width: 1000px;
    height: 600px;
}
#paragraph{
    display: flex;
    flex-direction: row;
    
    
}
#paragraph1 h3{
    flex-direction: column;
    padding: 10px;
    color: brown;
   display: flex;
}
#paragraph1 p{
   flex-direction: column;
    text-align: justify;
    width: 580px;
    padding: 10px;
    margin-top: -20px;
   //display: flex;
   //justify-content:space-between;
   
}

#paragraph2 p{
   flex-direction: column;
    text-align: justify;
    width: 580px;
    padding: 10px;
    margin-top:58px;
    
   // display: flex;
   //justify-content: space-between;
}

#images{
    flex-direction: row;
    display: flex;
    flex-flow: wrap;
}

#educationimage{
    padding: 10px;
    margin-bottom: 15px;
    color: brown;
    margin-left: 10px;
    flex-direction: column;
}
    #educationimage img{
        width: 580px;
    }
    
#healthcareimage{
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 110px;
    color: brown;
    flex-direction: column;
    margin-top: 28px;
}
    #healthcareimage img{
        width: 580px;
        
    }
    #links{
    margin-bottom: 30px;
        padding: 10px;
}
}
